/*
 * Copyright 2018 Royal Bank of Scotland
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@font-face
{
   font-family: "SSP-Black";
   src: url("fonts/SourceSansPro-Black.ttf") format("truetype");
}

@font-face
{
   font-family: "SSP-BlackItalic";
   src: url("fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
}

@font-face
{
   font-family: "SSP-Bold";
   src: url("fonts/SourceSansPro-Bold.ttf") format("truetype");
}



@font-face
{
   font-family: "SSP-BoldItalic";
   src: url("fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
}

@font-face
{
  font-family: "SSP-Italic";
  url("fonts/SourceSansPro-Italic.ttf") format("truetype");
}

@font-face
{
  font-family: "SSP-Regular";
  src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face
{
  font-family: "SSP-SemiBold";
  url("fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face
{
  font-family: "SSP-SemiBoldItalic";
  src: url("fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
}