/*
 * Copyright 2018 Royal Bank of Scotland
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "corda-dark-color-scheme.css";

/* Global CSS */

.context-menu .menu-item .label {
    -fx-text-fill: -color-0;
}

.titled-pane .content, .titled-pane .text {
    -fx-background-color: -color-2;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 2;
}

/* Sidebar */
.sidebar {
    -fx-background-color: -color-0;
    -fx-max-width: 200px;
}

.sidebar-menu-item {
    -fx-background-color: transparent;
    -fx-max-width: infinity;
    -fx-min-width: 85px;
    -fx-border-width: 0;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}

.sidebar-menu-item-selected,
.sidebar-menu-item:hover, .sidebar-menu-item:selected {
    -fx-background-color: -color-3;
    -fx-border-color: -color-3;
    -fx-cursor: hand;
}

.sidebar-menu-item-arrow {
    -fx-text-fill: -color-0;
    -fx-font-size: 30pt;
}

/* Top level split panes */
#mainSplitPane > .split-pane-divider {
    -fx-background-color: -color-0;
    -fx-border-color: -color-0;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 3;
}

/* Header */
.header {
    -fx-background-color: -color-0;
    -fx-padding: 5;
}

.header .split-menu-button {
    -fx-min-width: 100px;
}

.header .split-menu-button .label {
    -fx-text-fill: -color-0;
}

.mainView .split-pane {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Chart */
.chart {
    -fx-padding: 0;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line {
    -fx-stroke: -color-3;
}

.chart-plot-background {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

/* Home view*/

.tile .title, .tile:expanded .title {
    -fx-alignment: center-left;
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: -color-1;
    -fx-border-color: transparent;
    -fx-border-radius: 2;
}

.tile .title .text, .tile:expanded .title .text {
    -fx-fill: -color-0;
}

.tile .content {
    -fx-background-color: -color-1;
    -fx-background-size: Auto 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-cursor: hand;
    -fx-padding: 5px;
    -fx-alignment: bottom-right;
    -fx-border-color: transparent; /*t r b l */
    -fx-border-radius: 2;
}

.tile .label {
    -fx-font-size: 2.0em;
    -fx-padding: 10px;
    -fx-text-fill: -color-0;
    -fx-font-weight: normal;
    -fx-text-alignment: right;
}

.tile:hover {
    -fx-border-color: -color-3;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.tile, .tile-user {
    -fx-padding: 10px;
    -fx-pref-height: 250px;
}

/* Login View */
.login .button {
    -fx-background-color: -color-3;
    -fx-font-weight: bold;
    -fx-text-fill: -color-2;
}

.login .button:hover {
    -fx-background-color: -color-4;
}

.certificateButton.button, .certificateButton.button:hover {
    -fx-background-color: transparent;
}

.certificateIcon {
    -fx-fill: -color-2;
}

.certificateIcon:hover {
    -fx-fill: -color-3;
}

.login {
    -fx-background-color: -color-0;
}

.login .label, .login .check-box .text {
    -fx-text-fill: -color-2;
    -fx-fill: -color-2;
    -fx-font-weight: bold;
}

.searchField .text-field {
    -fx-padding: 5px 5px 5px 30px;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.searchField .combo-box {
    -fx-padding: -1px;
    -fx-border-width: 0;
    -fx-background-insets: 0px;
}

.searchField .glyph-icon {
    -fx-fill: -color-1;
    -fx-padding: 0;
}

.searchField .search-clear:hover {
    -fx-fill: -color-4;
}

.contractStateView {
    -fx-padding: 10;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-padding: 0;
}

/* Network View */
.networkView .worldMap {
    -fx-image: url("../images/WorldMapSquare.png");
}

.networkView .map .label:hover .glyph-icon,
.networkView .map .label:hover .text {
    -fx-fill: -color-4;
    -fx-cursor: hand;
}

.networkView .map .glyph-icon,
.networkView .map .text {
    -fx-fill: -color-2;
}

.networkTile .title,
.networkTile .content,
.networkTile .content .button,
.networkTile .content .scroll-pane,
.networkTile .content .scroll-pane > .viewport {
    -fx-background-color: rgba(28, 28, 28, 0.5);
    -fx-background: rgba(28, 28, 28, 0.5);
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.networkTile .content .button:hover {
    -fx-background-color: -color-4;
    -fx-cursor: hand;
}

.networkTile .title > .text,
.networkTile .copyable-label > .text,
.networkTile .text-field {
    -fx-fill: white;
    -fx-text-fill: white;
}

#setting-edit-label:hover .text, #setting-edit-label:hover .glyph-icon {
    -fx-fill: -color-4;
}

/* Styles for firing bullets between nodes in Network view. */
.bullet {
    -fx-fill: black;
}

.connection-bank-to-bank {
    -fx-fill: white;
}

.message-line {
    -fx-stroke: white;
}

.connection-bank-to-regulator {
    -fx-stroke: red;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

/* Other */
.identicon {
    -fx-border-radius: 2;
}
